*{
    margin: 0;
    padding: 0;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 70%;
    height: 300px;
    background-color: #FF9FB2;
    border-radius: 30px;
    
}

.main{
   display: flex;
   justify-content: center;
   align-items:center;
   height:h-screen;
   margin: 40px;
   
   
}

input{
    width: 70%;
    background-color: #FBDCE2;
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

